---
import Sphere from '../components/Sphere';
import Layout from '../layouts/Layout.astro';
import LinkedIn from '../components/Icons/LinkedIn.astro';
import Github from '../components/Icons/Github.astro';
import ButtonCopyEmail from '../components/ButtonCopyEmail';

import "./index.css";
---

<Layout>
	<section id="hero-section">
		<h1>Lauchie Harvey - Software Developer</h1>

		<div class="hero-content-container">

			<div class="sphere-container">
				<Sphere client:load client:only/>
			</div>

			<div class="copy-container">
				<p class="opaque">
					Full stack web developer with <b>5+ years of experience</b>.
					<br/>
					I love solving UX problems to improve the lives of my users.
				</p>

				<div class="cta-container">
					<ButtonCopyEmail client:load/>

					<div class="social-links">
						<a href="https://www.linkedin.com/in/lauchie-harvey" target="_blank" title="LinkedIn"><LinkedIn/></a>

						<a href="https://github.com/LauchieHarvey" target="_blank" title="GitHub"><Github/></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="my-work">
		<h2>My work</h2>

		<h3>Pacific Infrastructure Pipeline</h3>
		<p>
			An international effort to streamline infrastructure investment and visibility. 
			I was the developer primarily responsible for building the public facing frontend.
		</p>
		<a href="https://pacificinfrastructure.org" target="_blank">
			<img src="../public/pip-website.png"/>
		</a>

		<h3>Wedding website</h3>
		<p>
			A website I designed and built myself. It uses Firebase for RSVPs and hosting. On the frontend it is built with Svelte 5.
		</p>
		<a href="https://nandaandlauchie.web.app" target="_blank">
			<img src="../public/wedding-website.png"/>
		</a>

	</section>
</Layout>

<style>
	#hero-section {
		padding: 0.8rem;
		box-sizing: border-box;
	}

	h1 {
		font-size: 2.4rem;
		font-weight: var(--fw-light);
	}

	.hero-content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		@media screen and (min-width: 900px) {
			flex-direction: row;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.sphere-container {
		position: relative;
		width: 80svw;
		height: 80svw;

		@media screen and (min-width: 900px) {
			width: 40svw;
			height: 40svw;
		}
	}

	.copy-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
	}

	.copy-container p {
		font-size: 1.2rem;
	}

	.cta-container {
		display: flex;
		justify-content: space-between;
	}

	.cta-container .social-links {
		display: flex;
		gap: 0.8rem;
	}

	.cta-container .social-links a {
		position: relative;
		display: block;
		width: 2rem;
		height: 2rem;
		border-radius: 50%;
		text-decoration: none;
		color: var(--primary-text);
		background-color: var(--primary-color);
		border: 1px solid var(--primary-color);
		transition-duration: 0.2s;
		transition-property: scale, background-color, border-color;
		transition-timing-function: ease-in-out
	}

	.cta-container .social-links a:hover,
	.cta-container .social-links a:focus-visible {
		scale: 1.2;
		background-color: var(--primary-color-light);
		border-color: var(--primary-text);
		outline: none;
	}


	#my-work {
		text-align: center;
		padding: 0.8rem 0.8rem 4rem 0.8rem;
	}

	#my-work h2 {
		margin-bottom: 2rem;
		text-align: left;
	}

	#my-work h3, p {
		margin-bottom: 1rem;
	}

	#my-work h3 {
		margin-top: 6rem;
	}

	#my-work a img {
		max-height: 40svh;
		max-width: 80svw;

		box-shadow: 0px 2px 6px 2px var(--primary-text-tl);
		transition: scale 0.2s ease-in;
	}

	#my-work a img:hover {
		scale: 1.01;
	}

</style>
