<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />

		<title>Lauchie Harvey</title>
	</head>
	<body>
		<section id="hero-section">
			<h1>Lauchie Harvey - Software Developer</h1>
			<h2>Full stack web developer with <b>5+ years of experience</b>.
				<br/>
				I love solving UX problems to improve the lives of my users.
			</h2>
			<p>test paragraph colour</p>
			<slot />
		</section>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
